@import './variaveis';

*{
    font-family: $font;
    box-sizing: border-box;
    color: $terciary-light;
    input::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
    }
}

@mixin styleInput ($background){
    box-sizing: border-box;
    border-color: $primary;
    outline-color: $primary;
    border-style: none;
    height: 40px;
    padding: 0 1rem;
    border-radius: 5px;
    font-size: 1.1rem;
    text-align: end;
    color: $secundary;
    background: url($background) no-repeat 5%; 
}