@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

//cores

$primary: hsl(172, 67%, 45%);
$primary-light: hsl(185, 41%, 84%);
$primary-very-light: hsl(189, 41%, 97%);

$secundary: hsl(183, 100%, 15%);
$terciary: hsl(186, 14%, 43%);
$terciary-light: hsl(184, 14%, 56%);
$white: hsl(0, 0%, 100%);

//fonte

$font: 'Space Mono', monospace;



